* {
  margin: 0;
}
body {
  padding: 10px;
  background-color: lightsteelblue;
}
.App {
  display: flex;
  justify-content: space-evenly;
}
.App__left {
  flex: 0.9;
  margin-bottom: 20px;
}
.dropDown {
  background-color: white;
}

.App__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}
.App__header h1 {
  color: red;
}

.App__stats {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}
@media (max-width: 900px) {
  .App {
    flex-direction: column;
  }
}
.App__right h2 {
  padding: 20px;
}
.App__header h1 {
  font-size: 1.5rem !important;
  color: red;
}

.dropDown {
  background-color: white;
}

@media (max-width: 450) {
  .dropDown {
    width: 90px !important;
    height: 45px !important;
  }
}
